@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    font-family: Hind;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.h1Div {
    display: flex;
    flex-direction: column;

}

.welcomeH1 {
    padding-bottom: 2.5rem;
}

.homeH2 {
    padding-bottom: 2.5rem;
}

.homeButton {
    border-radius: 1rem;
    border: none;
}

.homeButton:hover {
    transition: all;
    transition: ease-in-out;
    transition: 150ms;
    scale: 105%;
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .h1Div {
        padding-left: 1rem;
        max-width: 400px;
    }

    .h2Div {
        padding-left: 1rem;
    }

    .welcomeH1 {
        font-size: 2rem;
        font-weight: 400;
    }

    .h2Div {
        max-width: 400px;
    }

    .homeH2 {
        font-size: 1rem;
        font-weight: 300;
    }

    .homeButton {
        line-height: 60px;
        margin-left: 1rem;
        font-size: 1.25rem;
        font-weight: 500;
        height: 4rem;
        width: 8rem;
    }
}

@media only screen and (min-width: 641px) {

    .h1Div {
        padding-left: 1rem;
        max-width: 450px;
    }

    .h2Div {
        padding-left: 1rem;
    }

    .welcomeH1 {
        font-size: 2rem;
        font-weight: 400;
    }

    .h2Div {
        max-width: 450px;
    }

    .homeH2 {
        font-size: 1.125rem;
        font-weight: 300;
    }

    .homeButton {
        line-height: 68px;
        margin-left: 1rem;
        font-size: 1.25rem;
        font-weight: 500;
        height: 4.25rem;
        width: 9rem;
    }
}

@media only screen and (min-width: 768px) {

    .h1Div {
        padding-left: 1rem;
        font-weight: 400;
        max-width: 500px;
    }

    .h2Div {
        padding-left: 1rem;
    }

    .welcomeH1 {
        font-size: 2.25rem;
    }

    .h2Div {
        max-width: 500px;
    }

    .homeH2 {
        font-size: 1.25rem;
        font-weight: 300;
    }

    .homeButton {
        line-height: 80px;
        margin-left: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        height: 5rem;
        width: 12rem;
    }
}

@media only screen and (min-width: 1024px) {

    .h1Div {
        max-width: 1000px;
    
    }
    
    .welcomeH1 {
        padding-bottom: 2.5rem;
        font-weight: 400;
        font-size: 4rem;
    }

    .h2Div {
        max-width: 600px;
    }

    .homeH2 {
        padding-bottom: 2.5rem;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .homeButton {
        line-height: 80px;
        font-size: 1.75rem;
        border-radius: 1rem;
        height: 5rem;
        width: 12rem;
        border: none;
    }
}


/* colors: #E0E0E0 #666E76 #202020 #ff3D15 */